/* This applies the box sizing selector to the entire CSS page so everything is straight */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*this is the background of the webpage*/
body {
    background-color: hsl(0, 0%, 0%);
}

/*this is going to control the text for the A selector*/
a {
    color: #ffffff;
    text-decoration: none;
}

/* this is going to control the header at the top of the page with my name and tabs for the page*/
.header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #000000;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 48px;
    font-style: italic
}

.header nav {
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*this controls the plant header image*/
.welcome-header {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4px;
}

/*this is for the layout of the about section and the class float images under the aboutme section*/
.float-left {
    float: left;
    margin-right: 25px;
}

.about {
    width: 75%;
    display: flex;
    margin-left: 20px;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    min-height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.about-me img {
    max-height: 200px;
}

.about-me h2 {
    margin-bottom: 20px;
    font-size: 40px;
}

/*this is going to control the whole "portfolio" class physically on the page*/

.work h2 {
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.portfolio {
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*this is going to be the details inside the "portfolio" class*/
.module-1,
.module-2,
.module-3,
.module-4,
.module-5 {
    align-items: center;
    flex-direction: column;
    display: flex;
    max-width: 300px;
    margin-bottom: 32px;
    color: #ffffff;
}

.box1 {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.module-1 img {
    display: flex;
    margin: 10px auto;
    max-width: 700px;
}

.module-1 h3,
.module-1 figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2 {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10px;
}

.module-2 img,
.module-3 img {
    margin: 10px auto;
    max-width: 200px;
}

.box3 {
    justify-content: space-evenly;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10px;
}

.module-4 img,
.module-5 img {
    margin: 10px auto;
    max-width: 200px;
}


/*this is going to control the contact me section*/
.contact-me {
    margin-top: -15px;
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

.contact-me h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-size: 40px;
}

.contact-details {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.contact-me ul {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.contact-me ul li {
    display: inline-block;
    margin-left: 25px;
    list-style-type: horizontal;
}

/*this is going to be the footer for the page*/
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer p {
    font-size: 20px;
    color: white;
    text-align: center;
}